#ResultConteer {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 18px; }
  #ResultConteer h2 {
    padding-left: 5px;
    font-size: 22px;
    color: #2C3440; }
  #ResultConteer .h4 {
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: #2C3440;
    margin-bottom: 5px;
    margin-top: 5px; }
  #ResultConteer .tr_h1 h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    color: #35455C;
    text-align: center;
    width: 100%;
    white-space: nowrap; }
  #ResultConteer .tr_h1 .subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #35455C;
    opacity: 0.5;
    text-align: center; }
  #ResultConteer .tr_date {
    text-align: right; }
  #ResultConteer .logoBlock {
    width: 15%;
    padding-right: 10px;
    text-align: left; }
    #ResultConteer .logoBlock img {
      display: inline-block; }
    #ResultConteer .logoBlock img.twoLogoImg {
      margin-top: 10px; }
  #ResultConteer table {
    width: 100%; }
  #ResultConteer img {
    max-width: 100%;
    height: auto; }
  #ResultConteer table.uslCont tr {
    vertical-align: top; }
    #ResultConteer table.uslCont tr td.tdUslContent {
      width: 70%; }
      #ResultConteer table.uslCont tr td.tdUslContent .resItemWrap {
        padding: 5px; }
        #ResultConteer table.uslCont tr td.tdUslContent .resItemWrap .text {
          float: left; }
          #ResultConteer table.uslCont tr td.tdUslContent .resItemWrap .text .title {
            font-weight: 400;
            font-size: 18px;
            font-style: normal;
            color: #2C3440;
            margin-bottom: 5px;
            margin-top: 5px; }
          #ResultConteer table.uslCont tr td.tdUslContent .resItemWrap .text .text_bottom {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            color: #2C3440;
            opacity: 0.5; }
        #ResultConteer table.uslCont tr td.tdUslContent .resItemWrap .num {
          float: right;
          text-align: right; }
          #ResultConteer table.uslCont tr td.tdUslContent .resItemWrap .num span {
            display: block; }
          #ResultConteer table.uslCont tr td.tdUslContent .resItemWrap .num .price {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            text-align: right;
            color: #2C3440; }
          #ResultConteer table.uslCont tr td.tdUslContent .resItemWrap .num .kol {
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            color: #2C3440;
            opacity: 0.5; }
      #ResultConteer table.uslCont tr td.tdUslContent .withColor {
        background: #F0F0F0; }
    #ResultConteer table.uslCont tr td.tdUslImg .resultImageBlock {
      padding: 20px; }
  #ResultConteer .Price_Srok_Title {
    background: #FFC23C;
    width: 228px;
    height: 39px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    color: #000000; }
  #ResultConteer .Price_Srok_Table_Wrap {
    background: #D9D9D9;
    width: 100%; }
    #ResultConteer .Price_Srok_Table_Wrap table.Price_Srok_Table {
      background: #D9D9D9; }
      #ResultConteer .Price_Srok_Table_Wrap table.Price_Srok_Table tr {
        background: #D9D9D9; }
        #ResultConteer .Price_Srok_Table_Wrap table.Price_Srok_Table tr td {
          background: #D9D9D9;
          text-align: left;
          width: 15%; }
          #ResultConteer .Price_Srok_Table_Wrap table.Price_Srok_Table tr td span {
            display: block; }
          #ResultConteer .Price_Srok_Table_Wrap table.Price_Srok_Table tr td .item {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            color: rgba(44, 52, 64, 0.7); }
          #ResultConteer .Price_Srok_Table_Wrap table.Price_Srok_Table tr td .value {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            color: #2C3440; }
        #ResultConteer .Price_Srok_Table_Wrap table.Price_Srok_Table tr td.itog {
          width: 12%; }
  #ResultConteer table.about tr td {
    vertical-align: top;
    width: 25%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #2C3440; }
  #ResultConteer .clearfix {
    overflow: auto; }
    #ResultConteer .clearfix::after {
      content: "";
      display: block;
      clear: both; }

/*# sourceMappingURL=pdf.css.map */
